<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{page.title}} - Ducks0ci3ty</title>
    <link rel="icon" href="/assets/images/icon.png" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="apple-touch-icon" href="/assets/images/icon.png">
    <meta charset="UTF-8">
    <meta name="author" content="et3rnos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/script.js"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="/">
                <img src="/assets/images/logo.png" class="logo" alt="Ducks0ci3ty">
            </a>
            <a href="javascript:void(0);" onclick="ToogleMenu()">
                <img class="menu-expander" src="/assets/images/menu_ham.png" alt="Menu">
            </a>
            <div class="menu-container">
                <a class="menu a" href="/members">Members</a>
                <a class="menu b" href="/posts">Posts</a>
                <!--<a class="menu a" href="/discover">Discover</a>-->
            </div>
        </div>
    </header>
    <div class="body-container">
        {{ content }}
    </div>
<div class="news-container">
    <h2>Featured Content</h2>
    <a href="https://et3rnos.github.io/" target="_blank" class="news-left">
        <img class="news-img" align="left" src="/assets/images/et3rnos.png" alt="Et3rnos">
        <div class="news-content">
            <h3 class="news-title">Et3rnos' Blog</h3>
            <p class="content-description">A blog maintained by one of our members, Et3rnos, covering lots of CTF writeups.</p>
        </div>
    </a>
    <a href="https://et3rnos.github.io/other/ducks0ci3ty-ctf-team-test.html" class="news-right">
        <img class="news-img" align="left" src="/assets/images/ctf.png" alt="CTF">
        <div class="news-content">
            <h3 class="news-title">CTF Team Test</h3>
            <p class="content-description">Solve this easy test composed by 5 challenges to gain a place in our CTF Team!</p>
        </div>
    </a>
    <a href="https://ctftime.org/team/114402" class="news-left">
        <img class="news-img" align="left" src="/assets/images/ctf.png" alt="CTF">
        <div class="news-content">
            <h3 class="news-title">CTFTime Page</h3>
            <p class="content-description">Keep track of our team's score and progress on the many CTFs we participated.
            </p>
        </div>
    </a>
    <a href="/" class="news-right">
        <img class="news-img" align="left" src="/assets/images/hackthebox.png" alt="HackTheBox">
        <div class="news-content">
            <h3 class="news-title">HackTheBox Rank</h3>
            <p class="content-description"><img src="https://www.hackthebox.eu/badge/team/image/2445" alt="Hack The Box"></p>
        </div>
    </a>
</div>
</body>
</html>
<!--Proudly made by Et3rnos-->